<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">

<div style="text-align: center; margin-top: 10vh; font-family: Ubuntu, light;">
  <h1>Welcome to Dev-Duel</h1>
</div>
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: Ubuntu, light;
  "
>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5vh;
      font-family: Ubuntu, light;
    "
  >
    <div>
      <app-link-button linkText="/inspect" text="Inspect"></app-link-button>
      <br />
      <p style="text-align: center">Look up a fellow dev's Github info</p>
    </div>
    <div class="vl"></div>
    <div>
      <app-link-button linkText="/duel" text="Duel"></app-link-button>
      <br />
      <p style="text-align: center">Pick two devs to go head to head.</p>
    </div>
  </div>
</div>
